In [59]:
import json

DATE_RANGE = MIN_YEAR, MAX_YEAR = 1600, 1699
print(DATE_RANGE)

(1600, 1699)

In [ ]:
from urllib.parse import quote
import os
from sqlalchemy import create_engine

sql_engine = create_engine(f'mysql+pymysql://folgert:{quote(os.environ["SQLPW"])}@localhost/DSD2018')

In [61]:
import pandas as pd

# First, create a table with song books plus their year of publication
sources = pd.read_sql_query(
    f"""SELECT bronid, sorteerjaar FROM bron
         WHERE sorteerjaar >= {MIN_YEAR} AND sorteerjaar <= {MAX_YEAR}""",
    sql_engine,
)

sources.sample(10)

       bronid sorteerjaar
1228  1011360        1658
1822  1019586        1645
538   1001541        1639
1360  1016136        1644
173   1000728        1637
769   1004647        1649
1120  1011039        1661
320   1000887        1642
1522  1016809        1685
361   1000929        1628

In [62]:
sources.shape # number of unique song books (excluding reprints)

(2044, 2)

In [63]:
locations = pd.read_sql_query(
    "SELECT bronid, plaats FROM bron_drukker", sql_engine
)
df = sources.merge(locations, on="bronid")
df.sample(10)

       bronid sorteerjaar                  plaats
1528  1016865        1683               Amsterdam
976   1010513        1614               Rotterdam
975   1010500        1630               Amsterdam
1642  1017027        1655                Den Haag
1687  1017155        1671                   Hoorn
424   1000950        1634               Amsterdam
1406  1016356        1677                   Delft
123   1000672        1636               Amsterdam
638   1001644        1682  Antwerpen [=Amsterdam]
170   1000712        1619                Den Haag

In [64]:
with open("../data/placenames.json") as f:
    places = pd.DataFrame(json.load(f))

df = df.merge(places, on="plaats", how="left")
df.sample(10)

       bronid sorteerjaar     plaats standardized place
63    1000620        1627  Rotterdam          Rotterdam
1713  1017183        1626  Amsterdam          Amsterdam
70    1000627        1642  Amsterdam          Amsterdam
273   1000816        1629  Amsterdam          Amsterdam
1709  1017178        1623    [Gouda]                NaN
156   1000699        1649  Amsterdam          Amsterdam
252   1000793        1639  Amsterdam          Amsterdam
82    1000638        1622    Utrecht            Utrecht
893   1007037        1600  Antwerpen          Antwerpen
1918  1019822        1624  Amsterdam          Amsterdam

In [65]:
songs = pd.read_sql_query(
    "SELECT recordid, incnormid, bronid FROM lied", sql_engine
)

melodies = pd.read_sql_query(
    "SELECT recordid, melodieid FROM wijs WHERE melodieid != 0", sql_engine
)

In [66]:
df = df.merge(songs, on="bronid", how="left")
df = df.merge(melodies, on="recordid", how="left")
df.sample(10)

,bronid,sorteerjaar,plaats,standardized place,recordid,incnormid,melodieid
21697,1001561,1659,Hoorn,Hoorn,35716.0,61619.0,3682.0
32618,1011046,1654,Antwerpen,Antwerpen,33660.0,40103.0,9389.0
4402,1000731,1635,Antwerpen,Antwerpen,5576.0,16090.0,6318.0
35347,1011362,1607,Brugge [te koop in] op den Burcht vintmense te...,Brugge,38672.0,15450.0,1438.0
16670,1001041,1628,Antwerpen,Antwerpen,20604.0,19970.0,NaN
3474,1000714,1667,Amsterdam,Amsterdam,4537.0,26469.0,NaN
23020,1001612,1619,Amsterdam,Amsterdam,161367.0,43992.0,8007.0
9989,1000862,1602,Amsterdam,Amsterdam,11116.0,11342.0,9490.0
4865,1000732,1628,Den Bosch,Den Bosch,6007.0,34388.0,5436.0
6845,1000798,1634,Amsterdam,Amsterdam,8492.0,48581.0,8003.0

In [67]:
target_places = [
    'Amsterdam', 'Antwerpen', 'Haarlem', 'Leiden', 'Rotterdam', 'Delft', 'Utrecht', 'Hoorn', 
    'Gent', 'Brussel', 'Enkhuizen', 'Den Haag', 'Harderwijk', 'Dordrecht', 'Aalst', 'Zwolle', 
    'Arnhem', 'Leuven', 'Den Bosch', 'Nijmegen', 'Alkmaar', 'Gorinchem', 'Medemblik', 'Mechelen', 
    'Vlissingen', 'Deventer', 'Wormerveer', 'Woerden', 'Middelburg', 'Groningen', 'Kortrijk', 
    'Schiedam', 'Leeuwarden', 'Franeker', 'Gorcum', 'Zaandam', 'Krommenie', 'Brugge', 'Gouda', 
    'Harlingen', 'Edam', 'Dokkum', 'Gelre', 'Brouwershaven', 'Dendermonde', 'Luik', 'Kevelaer', 
    'Schoonhoven', 'Lier', 'Overschie', 'Duinkerken', 'Monnikendam', 'De Rijp', 'Bergen op Zoom', 
    'Kevelaar', 'Amersfoort', 'Maassluis', 'Kampen', 'Breda'
]

In [68]:
df = df[df["standardized place"].isin(target_places)]

In [69]:
from copia.data import to_copia_dataset

def coverage(group):
    ds = to_copia_dataset(group)
    return 1 - (ds.f1 / ds.n) * ( ((ds.n - 1) * ds.f1) / ((ds.n - 1) * ds.f1 + 2*ds.f2))

def coverage_interval(group):
    ds = to_copia_dataset(group)
    return 1.96 * ((((ds.f1 + 2 * ds.f2) / ds.n - (ds.f1 / ds.n)**2)/ds.n)**(1/2))

size_table = pd.DataFrame(index=df["standardized place"].unique())
size_table["source"] = df.groupby("standardized place")["bronid"].nunique()
size_table["melody"] = df.groupby("standardized place")["melodieid"].nunique()
size_table["incipit"] = df.groupby("standardized place")["incnormid"].nunique()
size_table["songs"] = df.groupby("standardized place")["recordid"].nunique()
size_table['coverage'] = df.groupby("standardized place")["melodieid"].apply(coverage)
size_table["coverage_interval"] = df.groupby("standardized place")["melodieid"].apply(coverage_interval)
size_table = size_table.reset_index(names="location")

/var/folders/sn/66dvqdn12v9dgr0vrs566dp00000gn/T/ipykernel_43663/2763559839.py:5: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - (ds.f1 / ds.n) * ( ((ds.n - 1) * ds.f1) / ((ds.n - 1) * ds.f1 + 2*ds.f2))
/var/folders/sn/66dvqdn12v9dgr0vrs566dp00000gn/T/ipykernel_43663/2763559839.py:9: RuntimeWarning: invalid value encountered in scalar divide
  return 1.96 * ((((ds.f1 + 2 * ds.f2) / ds.n - (ds.f1 / ds.n)**2)/ds.n)**(1/2))

In [70]:
popsize_df = pd.read_csv("../data/population-estimates.csv")
popsize_df = popsize_df[popsize_df["decade"] <= 1700].groupby("location")[["pop_estimate", "error"]].mean().reset_index()
size_table = size_table.merge(popsize_df, on="location", how="left")
size_table

,location,source,melody,incipit,songs,coverage,coverage_interval,pop_estimate,error
0,Amsterdam,809,2003,9998,11425,0.945984,0.005454,149677.105070,0.049786
1,Antwerpen,180,1459,4650,5470,0.900335,0.009120,61982.337772,0.076672
2,Haarlem,92,614,2087,2234,0.930622,0.014551,39613.173221,0.081770
3,Leiden,65,371,745,746,0.651372,0.050280,45304.289706,0.058294
4,Rotterdam,51,188,416,418,0.751051,0.058762,21906.833317,0.093174
5,Delft,26,191,314,314,0.845372,0.053398,20347.457077,0.093064
6,Utrecht,42,426,991,1014,0.808374,0.031178,28164.977071,0.128506
7,Hoorn,55,472,1075,1080,0.929313,0.019798,13906.643614,0.092868
8,Gent,13,151,270,270,0.822252,0.050649,42246.845210,0.077805
9,Brussel,30,275,767,767,0.889541,0.031469,67286.480064,0.123669
10,Enkhuizen,30,314,680,690,0.811168,0.036482,17233.429951,0.091951
11,Den Haag,40,222,384,386,0.845679,0.063525,21064.794470,0.091857
12,Harderwijk,3,3,9,9,0.625000,0.848705,NaN,NaN
13,Dordrecht,35,129,236,237,0.912895,0.072771,18023.617605,0.093322
14,Aalst,1,1,4,4,NaN,0.000000,NaN,NaN
15,Zwolle,7,42,64,64,0.451690,0.149162,12235.226392,0.118596
16,Arnhem,3,6,13,13,0.000000,0.000000,NaN,NaN
17,Leuven,16,289,448,464,0.670001,0.052265,11305.780786,0.087350
18,Den Bosch,6,88,109,110,0.384806,0.140259,NaN,NaN
19,Nijmegen,1,1,7,7,NaN,0.000000,NaN,NaN
20,Alkmaar,28,237,529,568,0.958475,0.026260,12823.996926,0.081479
21,Gorinchem,5,7,13,13,0.000000,0.000000,6085.051253,0.093627
22,Medemblik,3,94,154,156,0.632280,0.110661,NaN,NaN
23,Mechelen,7,327,386,387,0.350921,0.057741,NaN,NaN
24,Vlissingen,7,84,138,138,0.704983,0.119130,6230.218037,0.171848
25,Deventer,6,302,404,412,0.684108,0.053467,7243.422489,0.181187
26,Wormerveer,4,32,26,26,0.176440,0.185490,NaN,NaN
27,Woerden,1,9,29,29,1.000000,0.282902,2160.400323,0.093984
28,Middelburg,16,182,264,264,0.524967,0.085452,26251.291454,0.081849
29,Groningen,6,14,19,19,0.000000,0.000000,19740.170693,0.071649
30,Kortrijk,3,30,48,48,1.000000,0.169741,NaN,NaN
31,Schiedam,4,7,11,11,0.284091,0.458353,NaN,NaN
32,Leeuwarden,15,290,811,1030,0.934862,0.020367,15106.239634,0.069909
33,Franeker,7,111,177,177,0.552431,0.101786,NaN,NaN
34,Gorcum,1,1,4,4,NaN,0.000000,NaN,NaN
35,Zaandam,4,81,111,111,0.591229,0.115566,7893.497294,0.079930
36,Krommenie,3,52,66,66,0.570647,0.176184,NaN,NaN
37,Brugge,28,129,237,241,0.523282,0.090508,30807.493160,0.071676
38,Gouda,10,87,146,152,0.712118,0.102167,14997.104705,0.093030
39,Harlingen,3,57,69,69,0.233643,0.146296,NaN,NaN
40,Edam,1,57,125,125,0.828210,0.138071,NaN,NaN
41,Dokkum,2,92,171,173,0.697989,0.104035,2703.064816,0.109557
42,Brouwershaven,1,2,3,3,0.833333,1.066889,NaN,NaN
43,Dendermonde,1,0,2,3,NaN,NaN,NaN,NaN
44,Luik,1,2,6,6,0.000000,0.000000,NaN,NaN
45,Kevelaer,2,47,64,64,0.433143,0.179877,NaN,NaN
46,Schoonhoven,2,2,9,9,0.000000,0.000000,NaN,NaN
47,Lier,3,2,4,4,0.000000,0.000000,NaN,NaN
48,Overschie,2,2,1,2,0.833333,1.066889,NaN,NaN
49,Duinkerken,1,0,0,0,NaN,NaN,11368.715140,0.089961
50,Monnikendam,1,35,47,47,0.341365,0.225421,NaN,NaN
51,De Rijp,6,175,337,337,0.814474,0.060559,NaN,NaN
52,Bergen op Zoom,3,39,47,47,0.360313,0.204082,NaN,NaN
53,Kevelaar,3,0,0,0,NaN,NaN,NaN,NaN
54,Amersfoort,1,1,1,1,NaN,0.000000,NaN,NaN
55,Maassluis,1,0,0,0,NaN,NaN,NaN,NaN
56,Kampen,2,0,0,0,NaN,NaN,NaN,NaN
57,Breda,1,2,2,2,0.000000,0.000000,NaN,NaN

In [71]:
size_table = size_table[size_table['pop_estimate'].notnull() & (size_table["source"] >= 20)].reset_index(drop=True)
size_table['pop_estimate'] = size_table['pop_estimate'].astype(int)
print(size_table.drop("incipit", axis=1).sort_values("source", ascending=False).round(2).to_latex(float_format="%.2f", index=False))

\begin{tabular}{lrrrrrrr}
\toprule
location & source & melody & songs & coverage & coverage_interval & pop_estimate & error \\
\midrule
Amsterdam & 809 & 2003 & 11425 & 0.95 & 0.01 & 149677 & 0.05 \\
Antwerpen & 180 & 1459 & 5470 & 0.90 & 0.01 & 61982 & 0.08 \\
Haarlem & 92 & 614 & 2234 & 0.93 & 0.01 & 39613 & 0.08 \\
Leiden & 65 & 371 & 746 & 0.65 & 0.05 & 45304 & 0.06 \\
Hoorn & 55 & 472 & 1080 & 0.93 & 0.02 & 13906 & 0.09 \\
Rotterdam & 51 & 188 & 418 & 0.75 & 0.06 & 21906 & 0.09 \\
Utrecht & 42 & 426 & 1014 & 0.81 & 0.03 & 28164 & 0.13 \\
Den Haag & 40 & 222 & 386 & 0.85 & 0.06 & 21064 & 0.09 \\
Dordrecht & 35 & 129 & 237 & 0.91 & 0.07 & 18023 & 0.09 \\
Brussel & 30 & 275 & 767 & 0.89 & 0.03 & 67286 & 0.12 \\
Enkhuizen & 30 & 314 & 690 & 0.81 & 0.04 & 17233 & 0.09 \\
Alkmaar & 28 & 237 & 568 & 0.96 & 0.03 & 12823 & 0.08 \\
Brugge & 28 & 129 & 241 & 0.52 & 0.09 & 30807 & 0.07 \\
Delft & 26 & 191 & 314 & 0.85 & 0.05 & 20347 & 0.09 \\
\bottomrule
\end{tabular}

In [72]:
dfs = []

locations = set(size_table["location"].values)
for place, rows in df[df["melodieid"].notnull()].groupby("standardized place"):
    if place in locations:
        counts = rows["melodieid"].value_counts().reset_index()
        counts['melodieid'] = counts['melodieid'].astype(int)
        counts['place'] = place
        dfs.append(counts)

df = pd.concat(dfs)
df.to_csv("../data/dsd-melody-place-counts-census.csv", index=False)

In [73]:
df.loc[df['melodieid'].notnull(), 'melodieid'].nunique()

3401